In [1]:
import numpy as np
import pandas as pd
import openpyxl

In [2]:
df_facs = pd.read_csv('../Clean-Data/facilities_dict.tsv', sep='\t', engine='python')
df_rwys = pd.read_csv('../Clean-Data/runways_dict.tsv', sep='\t', engine='python')
df_schs = pd.read_csv('../Clean-Data/schedules_dict.tsv', sep='\t', engine='python')
df_rems = pd.read_csv('../Clean-Data/remarks_dict.tsv', sep='\t', engine='python')

In [3]:
df_facs.head()

,category,category_id,description
0,site_number,DLID,Landing facility site number - a unique identi...
1,type,DLID,"Landing facility type. (ex. Airport, Balloonpo..."
2,location_id,E7,Location identifier unique 3-4 character alpha...
3,effective_date,NaN,Information effective date (mm/dd/yyyy). This ...
4,region,A6,"FAA region code. (ex. AAL - Alaska, ACE - Cent..."

In [4]:
df_rwys.head()

,category,category_id,description
0,site_number,DLID,Landing facility site number. The unique ident...
1,state,DLID,Runway state post office code. The state where...
2,runway_id,DLID,Runway identification. Ex. 01/19; 18L/36R (par...
3,runway_length,A31,Physical runway length (nearest foot) (ex. 3500)
4,runway_width,A32,Physical runway width (nearest foot) (ex. 100)

In [5]:
df_schs.head()

              category                                        Description
0          site_number  Landing facility site number - a unique identi...
1                state  Associated state post office code standard two...
2      sequence_number  Attendance schedule sequence number.  A number...
3  attendance_schedule  Airport attendance schedule (when minimum serv...

In [6]:
df_rems.head()

              category                                        description
0          site_number  Landing facility site number. The unique ident...
1                state  Landing facility state post office code. The s...
2  remark_element_name  Remark element name. This information relates ...
3              remarks  Remark text. Free form text that further descr...

In [7]:
outfile = '../Clean-Data/definitions_dict.xlsx'

In [8]:
# with open(outfile, mode='wb'):
#     wb = openpyxl.Workbook()
#     wb.save(filename=outfile)
#

In [9]:
with pd.ExcelWriter(outfile) as writer:
    df_facs.to_excel(writer, sheet_name='Facilites', index=False)
    df_rwys.to_excel(writer, sheet_name='Runways', index=False)
    df_schs.to_excel(writer, sheet_name='Schedules', index=False)
    df_rems.to_excel(writer, sheet_name='Remarks', index=False)