In [9]:
import numpy as np
import pandas as pd
from pymongo import MongoClient

In [10]:
df = pd.read_csv("../../Clean-Data/facilities_clean.tsv", sep='\t', engine='python')

In [11]:
df.head()

,site_number,type,location_id,effective_date,region,state,state_name,county,city,facility_name,...,beacon_color,non_commercial_landing_fee,medical_use,operations_commercial,operations_air_taxi,operations_ga_local,operations_ga_itin,operations_military,operations_date,icao_identifier
0,50009.*A,AIRPORT,ADK,2020-02-27,AAL,AK,ALASKA,ALEUTIANS WEST,ADAK ISLAND,ADAK,...,CG,False,False,104.0,0.0,0.0,100.0,28.0,06/30/2019,PADK
1,50016.1*A,AIRPORT,AKK,2020-02-27,AAL,AK,ALASKA,KODIAK ISLAND,AKHIOK,AKHIOK,...,NaN,False,False,NaN,1500.0,NaN,100.0,NaN,12/31/2018,PAKH
2,50017.*A,AIRPORT,Z13,2020-02-27,AAL,AK,ALASKA,BETHEL,AKIACHAK,AKIACHAK,...,CG,False,False,NaN,3000.0,NaN,NaN,NaN,12/31/2016,NaN
3,50017.1*C,SEAPLANE BASE,KKI,2020-02-27,AAL,AK,ALASKA,BETHEL,AKIACHAK,AKIACHAK,...,NaN,False,False,NaN,NaN,NaN,10.0,NaN,12/31/2016,NaN
4,50020.*A,AIRPORT,AKI,2020-02-27,AAL,AK,ALASKA,BETHEL,AKIAK,AKIAK,...,CG,False,False,NaN,1000.0,NaN,NaN,NaN,12/31/2016,PFAK

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19636 entries, 0 to 19635
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   site_number                 19636 non-null  object
 1   type                        19636 non-null  object
 2   location_id                 19636 non-null  object
 3   effective_date              19636 non-null  object
 4   region                      19636 non-null  object
 5   state                       19636 non-null  object
 6   state_name                  19636 non-null  object
 7   county                      19636 non-null  object
 8   city                        19636 non-null  object
 9   facility_name               19636 non-null  object
 10  ownership                   19636 non-null  object
 11  use                         19636 non-null  object
 12  owner                       19541 non-null  object
 13  owner_address               19289 non-null  object
 14  owner_csz                   19462 non-null  object
 15  owner_phone                 19636 non-null  object
 16  manager                     18710 non-null  object
 17  manager_address             18544 non-null  object
 18  manager_csz                 18642 non-null  object
 19  manager_phone               19636 non-null  object
 20  latitude                    19636 non-null  float64
 21  longitude                   19636 non-null  float64
 22  elevation                   19636 non-null  int64
 23  magnetic_variation          15865 non-null  object
 24  magnetic_variation_year     15811 non-null  float64
 25  traffic_pattern_altitude    540 non-null    float64
 26  chart_name                  19295 non-null  object
 27  distance_from_cbd           19472 non-null  float64
 28  direction_from_cbd          19406 non-null  object
 29  boundary_artcc_id           19636 non-null  object
 30  boundary_artcc_name         19636 non-null  object
 31  responsible_artcc_id        19636 non-null  object
 32  responsible_artcc_name      19636 non-null  object
 33  fss_id                      19636 non-null  object
 34  fss_name                    19636 non-null  object
 35  fss_toll_free_number        19631 non-null  object
 36  notam_facility_id           5707 non-null   object
 37  notam_service               19636 non-null  bool
 38  airport_status_code         19636 non-null  object
 39  customs_airport_of_entry    19636 non-null  bool
 40  customs_landing_rights      19636 non-null  bool
 41  military_joint_use          19636 non-null  bool
 42  military_landing_rights     19636 non-null  bool
 43  fuel_types                  4016 non-null   object
 44  airframe_repair             6608 non-null   object
 45  power_plant_repair          6605 non-null   object
 46  bottled_oxygen_type         4419 non-null   object
 47  bulk_oxygen_type            4358 non-null   object
 48  lighting_schedule           6741 non-null   object
 49  beacon_schedule             4446 non-null   object
 50  atct                        19636 non-null  bool
 51  unicom_frequencies          3742 non-null   float64
 52  ctaf_frequency              5315 non-null   float64
 53  beacon_color                4561 non-null   object
 54  non_commercial_landing_fee  19636 non-null  bool
 55  medical_use                 19636 non-null  bool
 56  operations_commercial       648 non-null    float64
 57  operations_air_taxi         2603 non-null   float64
 58  operations_ga_local         5186 non-null   float64
 59  operations_ga_itin          5466 non-null   float64
 60  operations_military         2665 non-null   float64
 61  operations_date             6451 non-null   object
 62  icao_identifier             2577 non-null   object
dtypes: bool(8), float64(12), int64(1), object(42)
memory usage: 8.4+ MB

In [13]:
facilities_list = df.to_dict(orient='records')

In [14]:
facilities_list[0]

{'site_number': '50009.*A',
 'type': 'AIRPORT',
 'location_id': 'ADK',
 'effective_date': '2020-02-27',
 'region': 'AAL',
 'state': 'AK',
 'state_name': 'ALASKA',
 'county': 'ALEUTIANS WEST',
 'city': 'ADAK ISLAND',
 'facility_name': 'ADAK',
 'ownership': 'PU',
 'use': 'PU',
 'owner': 'ALASKA DOT&PF SOUTHCOAST REGION',
 'owner_address': '1500 ANTON LARSON',
 'owner_csz': 'KODIAK, AK 99615-2506',
 'owner_phone': '907-465-1784',
 'manager': 'INNOCENT DUSHKIN',
 'manager_address': 'P O BOX 1952',
 'manager_csz': 'ADAK, AK 99546',
 'manager_phone': '907-592-8026',
 'latitude': 51.883582055555564,
 'longitude': -176.64247991666667,
 'elevation': 19,
 'magnetic_variation': '07E',
 'magnetic_variation_year': 2000.0,
 'traffic_pattern_altitude': nan,
 'chart_name': 'W ALEUTIAN ISLS',
 'distance_from_cbd': 0.0,
 'direction_from_cbd': 'W',
 'boundary_artcc_id': 'ZAN',
 'boundary_artcc_name': 'ANCHORAGE',
 'responsible_artcc_id': 'ZAP',
 'responsible_artcc_name': 'ANCHORAGE OCEANIC',
 'fss_id': 'CDB',
 'fss_name': 'COLD BAY',
 'fss_toll_free_number': '1-800-478-7250',
 'notam_facility_id': 'ADK',
 'notam_service': True,
 'airport_status_code': 'O',
 'customs_airport_of_entry': False,
 'customs_landing_rights': False,
 'military_joint_use': False,
 'military_landing_rights': True,
 'fuel_types': 'A1',
 'airframe_repair': 'NONE',
 'power_plant_repair': 'NONE',
 'bottled_oxygen_type': 'NONE',
 'bulk_oxygen_type': 'NONE',
 'lighting_schedule': 'SEE RMK',
 'beacon_schedule': 'SS-SR',
 'atct': False,
 'unicom_frequencies': nan,
 'ctaf_frequency': 122.9,
 'beacon_color': 'CG',
 'non_commercial_landing_fee': False,
 'medical_use': False,
 'operations_commercial': 104.0,
 'operations_air_taxi': 0.0,
 'operations_ga_local': 0.0,
 'operations_ga_itin': 100.0,
 'operations_military': 28.0,
 'operations_date': '06/30/2019',
 'icao_identifier': 'PADK'}

In [15]:
client = MongoClient('mongodb://localhost:27017/')

In [16]:
db = client.us_airports

In [17]:
facilities_coll = db.facilities

In [18]:
results = facilities_coll.insert_many(facilities_list)

In [20]:
len(results.inserted_ids)

19636

In [21]:
client.close()