In [1]:
import numpy as np
import pandas as pd
from pymongo import MongoClient

In [2]:
pd.set_option('display.max_rows', 200)

In [3]:
df = pd.read_csv("../../Clean-Data/schedules_clean.tsv", sep='\t', engine='python')

In [4]:
df.head(10)

  site_number state  sequence_number    attendance_schedule
0    00103.*A    AL                1                UNATNDD
1    00106.*A    AL                1                UNATNDD
2    00108.*A    AL                1                UNATNDD
3    00110.*A    AL                1      ALL/ALL/0700-1900
4  00110.01*H    AL                1            ALL/ALL/ALL
5   00112.1*A    AL                1  ALL/MON-SAT/0700-DUSK
6   00112.1*A    AL                2      ALL/SUN/1230-DUSK
7    00116.*A    AL                1  ALL/MON-FRI/0800-1700
8    00119.*A    AL                1                UNATNDD
9    00124.*A    AL                4      ALL/SAT/0800-1630

In [5]:
df.sort_index(inplace=True)

In [6]:
schedule_list = df.to_dict(orient='records')

In [7]:
schedule_list[:10]

[{'site_number': '00103.*A',
  'state': 'AL',
  'sequence_number': 1,
  'attendance_schedule': 'UNATNDD'},
 {'site_number': '00106.*A',
  'state': 'AL',
  'sequence_number': 1,
  'attendance_schedule': 'UNATNDD'},
 {'site_number': '00108.*A',
  'state': 'AL',
  'sequence_number': 1,
  'attendance_schedule': 'UNATNDD'},
 {'site_number': '00110.*A',
  'state': 'AL',
  'sequence_number': 1,
  'attendance_schedule': 'ALL/ALL/0700-1900'},
 {'site_number': '00110.01*H',
  'state': 'AL',
  'sequence_number': 1,
  'attendance_schedule': 'ALL/ALL/ALL'},
 {'site_number': '00112.1*A',
  'state': 'AL',
  'sequence_number': 1,
  'attendance_schedule': 'ALL/MON-SAT/0700-DUSK'},
 {'site_number': '00112.1*A',
  'state': 'AL',
  'sequence_number': 2,
  'attendance_schedule': 'ALL/SUN/1230-DUSK'},
 {'site_number': '00116.*A',
  'state': 'AL',
  'sequence_number': 1,
  'attendance_schedule': 'ALL/MON-FRI/0800-1700'},
 {'site_number': '00119.*A',
  'state': 'AL',
  'sequence_number': 1,
  'attendance_schedule': 'UNATNDD'},
 {'site_number': '00124.*A',
  'state': 'AL',
  'sequence_number': 4,
  'attendance_schedule': 'ALL/SAT/0800-1630'}]

In [8]:
client = MongoClient('mongodb://localhost:27017/')
db = client.us_airports
sched_coll = db.schedules

In [9]:
results = sched_coll.insert_many(schedule_list)

In [10]:
len(results.inserted_ids) == df.shape[0]

True

In [11]:
client.close()