In [1]:
import numpy as np
import pandas as pd
from pymongo import MongoClient

In [2]:
df = pd.read_csv("../../Clean-Data/remarks_clean.tsv", sep='\t', engine='python')

In [3]:
df.shape

(91582, 4)

In [4]:
pd.set_option('display.max_rows', 100)

In [5]:
df.head(10)

,site_number,state,remark_element_name,remarks
0,00103.*A,AL,A110-1,FOR CD CTC CAIRNS APCH AT 334-255-8402 OR 334-...
1,00103.*A,AL,A57-17,RY 17 APCH SLOPE 50:1 TO DSPLCD THLD.
2,00103.*A,AL,A81-APT,ACTVT MIRL RY 18/36 - CTAF.
3,00103.*A,AL,A82,UNICOM IS LCTD AT POLICE STATION.
4,00103.*A,AL,E111,"EXISTED PRIOR TO MAY 15, 1959."
5,00106.*A,AL,A110-1,FOR CD CTC MEMPHIS ARTCC AT 901-368-8453.
6,00106.*A,AL,A42-05,MKD BY WHITE CONES WITH BLACK TIPS.
7,00106.*A,AL,A42-23,MKD BY WHITE CONES WITH BLACK TIPS.
8,00106.*A,AL,E111,PRVDD VFR USE ONLY.
9,00108.*A,AL,A110-1,FOR CD CTC ATLANTA ARTCC AT 770-210-7692.

In [6]:
remarks_list = df.to_dict(orient='records')

In [7]:
remarks_list[:10]

[{'site_number': '00103.*A',
  'state': 'AL',
  'remark_element_name': 'A110-1',
  'remarks': 'FOR CD CTC CAIRNS APCH AT 334-255-8402 OR 334-255-8460, WHEN APCH CLSD CTC JACKSONVILLE ARTCC AT 904-845-1592.'},
 {'site_number': '00103.*A',
  'state': 'AL',
  'remark_element_name': 'A57-17',
  'remarks': 'RY 17 APCH SLOPE 50:1 TO DSPLCD THLD.'},
 {'site_number': '00103.*A',
  'state': 'AL',
  'remark_element_name': 'A81-APT',
  'remarks': 'ACTVT MIRL RY 18/36 - CTAF.'},
 {'site_number': '00103.*A',
  'state': 'AL',
  'remark_element_name': 'A82',
  'remarks': 'UNICOM IS LCTD AT POLICE STATION.'},
 {'site_number': '00103.*A',
  'state': 'AL',
  'remark_element_name': 'E111',
  'remarks': 'EXISTED PRIOR TO MAY 15, 1959.'},
 {'site_number': '00106.*A',
  'state': 'AL',
  'remark_element_name': 'A110-1',
  'remarks': 'FOR CD CTC MEMPHIS ARTCC AT 901-368-8453.'},
 {'site_number': '00106.*A',
  'state': 'AL',
  'remark_element_name': 'A42-05',
  'remarks': 'MKD BY WHITE CONES WITH BLACK TIPS.'},
 {'site_number': '00106.*A',
  'state': 'AL',
  'remark_element_name': 'A42-23',
  'remarks': 'MKD BY WHITE CONES WITH BLACK TIPS.'},
 {'site_number': '00106.*A',
  'state': 'AL',
  'remark_element_name': 'E111',
  'remarks': 'PRVDD VFR USE ONLY.'},
 {'site_number': '00108.*A',
  'state': 'AL',
  'remark_element_name': 'A110-1',
  'remarks': 'FOR CD CTC ATLANTA ARTCC AT 770-210-7692.'}]

In [8]:
client = MongoClient('mongodb://localhost:27017/')
db = client.us_airports
remarks_coll = db.remarks

In [9]:
results = remarks_coll.insert_many(remarks_list)

In [10]:
len(results.inserted_ids) == df.shape[0]

True

In [11]:
client.close()