In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Airports/airport-frequencies.csv')
df.head(30)

,id,airport_ref,airport_ident,type,description,frequency_mhz
0,70518,6528,00CA,CTAF,CTAF,122.900
1,307581,6589,01FL,ARCAL,NaN,122.900
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.800
3,60191,6756,04CA,CTAF,CTAF,122.900
4,59287,6779,04MS,UNIC,UNICOM,122.800
5,60682,6784,04NV,UNIC,UNICOM,123.000
6,60091,6812,05CL,CTAF,CTAF,122.900
7,63835,6853,05UT,UNIC,UNICOM,122.800
8,70676,6868,06FA,APP,PALM BEACH APP,124.600
9,70677,6868,06FA,GND,GND,121.650
10,70678,6868,06FA,TWR,TWR,120.400
11,65868,6887,06MO,CTAF,CTAF,122.900
12,71176,6924,07FA,UNIC,UNICOM,122.700
13,66637,6943,07MT,CNTR,SALT LAKE CITY CNTR,126.850
14,69383,6954,07TE,CNTR,HOUSTON CNTR,126.625
15,61673,7008,08TE,UNIC,UNICOM,122.800
16,61013,7019,09CL,CTAF,CTAF,122.900
17,59566,7021,09FA,UNIC,UNICOM,122.800
18,68176,7054,09TS,CNTR,ALBUQUERQUE CNTR,132.650
19,59735,7094,0AZ2,UNIC,UNICOM,122.950
20,328741,7102,0C2,CTAF,NaN,122.900
21,62825,7116,0CA9,CTAF,CTAF,122.900
22,59296,7213,0ID2,ARTC,SALT LAKE CITY CNTR,128.350
23,60367,7542,0TE4,UNIC,CTAF/UNICOM,122.800
24,59580,7543,0TE5,CNTR,HOUSTON CNTR,126.625
25,59437,7545,0TE7,UNIC,UNICOM,122.800
26,67677,7569,0TX1,UNIC,UNICOM,123.050
27,59357,7712,11II,CNTR,INDIANAPOLIS CNTR,134.850
28,59358,7712,11II,CTAF,CTAF,126.200
29,59360,7712,11II,MISC,RNG CON,38.900

In [3]:
df.shape

(28835, 6)

In [4]:
df.dtypes

id                 int64
airport_ref        int64
airport_ident     object
type              object
description       object
frequency_mhz    float64
dtype: object

In [5]:
adf = pd.read_csv('Clean-Data/airports_clean.csv')

In [9]:
df = df[df['airport_ident'].isin(adf['ident'])]
df.head(50)

,id,airport_ref,airport_ident,type,description,frequency_mhz
0,70518,6528,00CA,CTAF,CTAF,122.900
1,307581,6589,01FL,ARCAL,NaN,122.900
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.800
3,60191,6756,04CA,CTAF,CTAF,122.900
4,59287,6779,04MS,UNIC,UNICOM,122.800
5,60682,6784,04NV,UNIC,UNICOM,123.000
6,60091,6812,05CL,CTAF,CTAF,122.900
7,63835,6853,05UT,UNIC,UNICOM,122.800
8,70676,6868,06FA,APP,PALM BEACH APP,124.600
9,70677,6868,06FA,GND,GND,121.650
10,70678,6868,06FA,TWR,TWR,120.400
11,65868,6887,06MO,CTAF,CTAF,122.900
12,71176,6924,07FA,UNIC,UNICOM,122.700
13,66637,6943,07MT,CNTR,SALT LAKE CITY CNTR,126.850
14,69383,6954,07TE,CNTR,HOUSTON CNTR,126.625
15,61673,7008,08TE,UNIC,UNICOM,122.800
16,61013,7019,09CL,CTAF,CTAF,122.900
17,59566,7021,09FA,UNIC,UNICOM,122.800
18,68176,7054,09TS,CNTR,ALBUQUERQUE CNTR,132.650
19,59735,7094,0AZ2,UNIC,UNICOM,122.950
20,328741,7102,0C2,CTAF,NaN,122.900
21,62825,7116,0CA9,CTAF,CTAF,122.900
22,59296,7213,0ID2,ARTC,SALT LAKE CITY CNTR,128.350
23,60367,7542,0TE4,UNIC,CTAF/UNICOM,122.800
24,59580,7543,0TE5,CNTR,HOUSTON CNTR,126.625
25,59437,7545,0TE7,UNIC,UNICOM,122.800
26,67677,7569,0TX1,UNIC,UNICOM,123.050
27,59357,7712,11II,CNTR,INDIANAPOLIS CNTR,134.850
28,59358,7712,11II,CTAF,CTAF,126.200
29,59360,7712,11II,MISC,RNG CON,38.900
30,59359,7712,11II,MISC,ANG RNG CON,138.250
31,71354,7781,12NC,APP,CHERRY POINT APP,119.750
32,69316,7789,12OK,UNIC,UNICOM,123.000
33,70478,7838,13NC,APP,CHERRY POINT APP,119.350
34,333203,7838,13NC,CTAF,NaN,322.100
35,70367,7898,14NC,A/D,CHERRY POINT APP,119.350
36,66604,7917,14TS,CNTR,HOUSTON CNTR,126.625
37,59174,7928,15AR,UNIC,RDO CTL,122.725
38,68311,7934,15FL,UNIC,UNICOM,123.000
39,60025,8028,16X,CNTR,FORT WORTH CNTR,127.450
40,70821,8082,18AZ,UNIC,UNICOM,122.975
41,67241,8117,18TA,CNTR,HOUSTON CNTR,126.625
42,62339,8118,18TE,UNIC,UNICOM,122.800
43,61636,8205,1AZ0,UNIC,UNICOM,122.725
44,67423,8222,1CA1,CTAF,CTAF,122.900
45,59235,8233,1CD2,APP,DENVER APP,119.300
46,59171,8297,1GA0,UNIC,UNICOM,122.725
47,70225,8486,1MS8,APP,MERIDIAN APP,31.480
48,298625,8732,1WA6,CTAF,Fall City Traffic,122.900
49,59128,8769,1XS8,CNTR,HOUSTON CNTR,126.625

In [18]:
df['type'].value_counts()

UNIC               2744
A/D                1566
CTAF               1351
CNTR               1088
AWOS                960
RDO                 947
TWR                 679
GND                 630
CLD                 597
ATIS                554
ASOS                516
APP                 223
OPS                 192
DEP                 187
FSS                 169
MISC                158
PMSV                121
PTD                  86
POST                 81
RCO                  33
INFO                 23
ARTC                 18
GCCD                 16
AAS                  11
A/G                  11
RFSS                 10
ACP                  10
ARR                   7
GCA                   6
MULT                  6
GCO                   6
UNICOM                6
RMP                   4
SFA                   4
ACC                   3
AWOS-3                2
GTE                   2
CTAF/UNICOM           2
FCC                   2
EMR                   2
APP/DEP               2
APPR                  2
ATIS/AWOS             1
TWR2                  1
GROUND                1
APP/DEP Backup        1
ARCAL                 1
HEL                   1
Unicom                1
COMD POST             1
DEPT                  1
CRAF                  1
Awos                  1
TOWER/CTAF            1
AWOS-3P               1
RDR                   1
CLRN                  1
ILS RWY14             1
APP/DEP Backup2       1
asos                  1
Name: type, dtype: int64

In [ ]:
#TODO: clean up type column. Needs more uniformity